@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-primary: #FF5A1F;
  --color-secondary: #6B7280;
  
  --font-heading: var(--font-archivo);
  --font-body: var(--font-inter);
}

body {
  background-color: var(--color-background);
  color: #f3f4f6;
}